# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# Database
*.db
*.sqlite

# Environment
.env
*.env.local
node_modules/
dist/
dist-ssr/
*.local
frontend/.env
backend/.env
